/* Universal */

body {
    background-color: #1C1C27;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.08em;
    color: #FFF;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.container-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

h1 {
    text-transform: uppercase;
    background-image: linear-gradient(to right top, #ffff34, #ffc812, #ff8f2f, #ff554d, #eb1267);
    background-size: 50% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 8vw;
    animation: gradientAnim 7.5s ease  alternate infinite;
  }

  @keyframes gradientAnim {
    to {
      background-position: 100% top;
    }
  }

h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    letter-spacing: 0.08em;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 0.08em;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.08em;
}

.content {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.08em;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 40px;
    }
    .title {
        font-size: 22px;
    }
    .content {
        font-size: 26px;
    }
  }

#button {
    border: solid #6798FF;
    background-color: #6798FF;
    border-radius: 30px;
    text-decoration: none;
}

#opposite {
    display:flex;
    justify-content: center;
    align-items: center;
}

/* Header */

#navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: #1C1C27;
    height: 70px;
    display: flex;
    align-items: center;
    color: #FFF;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    color: #FFF;
}

.nav-link {
    color: #FFF!important;
}


/* Hero */
#hero {
    background-image: url("images/liana-mikah-4RTAF3Z-0zM-unsplash.jpg");
    background-size: cover;
	background-color: #1C1C27;
    background-repeat: no-repeat;
	background-position: center;
	height: 90vh;
}

.hero-container {
    height: 80vh;
    display: flex;
    position: relative;
}

.hero-title {
    top: 70%;
    position: absolute;
    color: #FFF;
    padding-left: 10vw;
    width: 90vw;
}

@media only screen and (max-width: 600px) {
    .hero-title {
        top: 55%;
        color: #FFF;
        font-size: 40px;
        padding-left: 5vw;
        width: 400px;
    }

    #hero {
        height: 60vh;
    }
  }




/* About */
#about {
    height: 50vh;
    background-color: #1C1C27;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about-container {
    margin-left: 20vw;
    margin-right: 20vw;
}

@media only screen and (max-width: 600px) {
    #about {
        height: 65vh;
    }
    .about-container {
        margin-right: 10vw;
        margin-left: 10vw;
    }
  }







/* Footer */
#footer {
    height: 55vh;
    margin-bottom: 0;
    background-color: #1C1C27;
}

footer {
	background-color: #1C1C27;
	color: #FFF;
	position: relative;
}

.social-menu {
    padding: 5vw;
    margin-bottom: 25px;
}

.social-menu ul{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab{
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: rgba(0, 243, 53, 0.829);
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #0077b5;
}
.social-menu ul li:nth-child(4) a:hover{
    background-color: #000;
}

@media only screen and (max-width: 600px) {
    #footer {
        height: 110vh;
    }
    .form-group {
        width: 90vw;
        flex-wrap: wrap;
    }
    .footer-button {
        margin: 10px;
    }
    .bottom {
        flex-wrap: wrap;
    }
    .footer-contact {
        margin-left: -18vw;
        margin-right: -5vw;
    }
    .socials {
        margin-left: -30vw;
        margin-top: 10vh;
    }
    .socials #social-name {
        opacity: 0;
    }
    #twitter-icon .icon {
        margin-left: 50px;
    }
    #facebook-icon .icon {
        margin-left: 20px;
    }
    #insta-icon .icon {
        margin-left: -30px;
    }
  }
