/* Hero/Bilboard Styling */ 


#hero {
	background-image: url("../images/hero2.jpg");
	background-size: cover;
	background-color: red;
	height: 50vh;
}

#hero-chunk1 {
	width: auto;
	color: #fff;
	margin-top: 11%;
	margin-left: 20%;
    text-align: left;
}

#hero-chunk2 {
	width: auto;
	color: #fff;
	margin-top: 8%;
	margin-left: 40%;
    text-align: right;
}

#hero-chunk1 .tighten {
	font-family: 'Poppins';
	font-weight: 600;
}

#hero-chunk2 .tighten {
	font-family: 'Poppins';
	font-weight: 600;
}


#hero h1 {
	padding-bottom: 16px;
}

#hero h4 {
	padding-bottom: 30px;
}

/* About/Description Styling */ 

#about {
	text-align: left;
	color: #161616;
	width: 50vw;
	margin: 60px auto;
	margin-bottom: 160px;
	margin-top: 120px;
	padding-bottom: 40px;
}
