body {
	font-family: sans-serif;
	font-size: 24px;
	font-weight: 400;
	background-color: #FEFCF9;
}


/* Hero/Bilboard Styling */ 

#hero-vid {
	height: 90vh;
	background-color: black;
	background-size: cover;
}
#video {
    z-index:1;
	flex-direction: column;
	top:50px;
	height: 80%;
	width: 100%;
	margin-top: 120px;
	justify-content: center;
	align-items: center;
}
.overlay {
	display: flex;
	flex-direction: column;
	margin-top: -32vh;
	width: 100%;
	height: 60vh;
	justify-content: center;
	align-items: left;
    z-index:2;
	opacity: 0;
    animation: fadeIn 3s;
    animation-delay: 69s;
    animation-fill-mode: forwards;
	background-image: url("../images/hero1.jpg");
	background-size: cover;
	background-position: center;
	color: #FFF;
	border-radius: 5px;
}

.overlay .title {
	font-family: 'Poppins';
	color: #FFF;
	font-weight: 600;
	font-size: 150px;
}
  
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Freedom and Simply Works*/

#pencil {
	background-image: url("../images/download.jpg");
	background-size: cover;
	background-position: center;
	background-color: red;
	height: 60vh;
}

#contfreedom {
	padding-top: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#freedom {
	color: black;
	width: 80%;
	height: 40vh;
	margin: 0 auto;
	border-radius: 20px;
	text-align: center;
}



/* Carousel */

#carousel {
	padding-bottom: 60px;
}

.carousel-control-next {
	left: 92%;
}

.carousel-control-prev {
	left: -7%;
}

#black {
	background-color: black;
	padding: 20px;
	border-radius: 15px;
}

.image-carousel {
	width: 30vw;
	height: 30vw;
	border-radius: 5px;
}

.grid-layout {
	width: 100%;
    display: grid;
  	grid-template-columns: 35vw 35vw;
	padding: 10px;
	grid-gap: 20px;
}

.grid-item {
	text-align: center;
	padding: 20px;
}

#item-layout {
	text-align: left;
	margin-left: 60px;
	margin-top: 60px;
	color: #FFF;
}


/* Styling for the three features */

.three-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#three {
	color: black;
	width: auto;
	height: 40vh;
	margin: 0 auto;
	border-radius: 20px;
	margin-bottom: 250px;
	padding-bottom: 150px;
	display: grid;
	grid-template-columns: 40vh 40vh 40vh;
	grid-gap: 40px;
}

#three h2{
	margin-bottom: 0;
	margin-top:0;
	text-align:center;
}

.desc {
	padding: 50px;
	padding-bottom: 20px;
	border: solid;
	border-radius: 15px;
	border-color: #FFF;
	background-color: #ffeae7;
}