/* Universal */

body {
    background-color: #FFE5E5;
}

/* Header */

nav {
    background-color: #F7A4A4 !important;
}

/* Hero */
#hero {
    background-image: url("images/liana-mikah-4RTAF3Z-0zM-unsplash.jpg");
    background-size: cover;
	background-color: red;
    background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}


/* Location */
#location {
    height: 100vh;
}

#location-image {
    background-image: url("images/brooke-cagle-g1Kr4Ozfoac-unsplash.jpg");
    background-size: cover;
	background-color: red;
    background-repeat: no-repeat;
	background-position: center;
    height: 90vh;
}


/* Animation */
#animation {
    height: 100vh;
}

#animate {
    -webkit-animation: mover 1.5s infinite  alternate;
    animation: mover 1.5s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-40px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-40px); }
}


/* About */
#about {
    height: 100vh;
    background-color: #F7A4A4;
}


/* Carousel */
#carousel {
    height: 100vh;
}

#carousel-wrapper {
    height: 200px;
    width: 50%;
}


/* Crayons */
#crayons {
    height: 100vh;
    background-color: #F7A4A4;
}


/* Hover */
#hover {
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 1000px;
    grid-template-areas:
        "one two three"
        "four four four";
}

.item-one {
    grid-area: one;
    width: 2200px;
}

.item-two {
    grid-area: two;
}

.item-three {
    grid-area: three;
}

.item-four {
    grid-area: four;
}

/* Footer */
#footer {
    height: 50vh;
    margin-bottom: 0;
    background-color: #F7A4A4;
}


/* Menu */